.titulon {
    background-color: brown;
    margin-left: 650px;
    margin-right: 650px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
div {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
button {
    color: black;
    background-color: yellow;
}
p {
    font-size: 30px;
    color: black;
    text-align: center;
}
img {
    height: 400px;
    width: 800px;
    border: solid brown;
}
ul {
    margin-left: 830px;
    margin-right: 830px;
    background-color: white;
    border: 2px solid brown;
}
li {
    padding: 2px;
    margin: 2px;
    color: brown;
    background-color: transparent;
}
a {
    color: black;
    font-size: 20px;
    background-color: transparent;
}
* {
background-color: burlywood;
}
.boton {
    text-align: center;
    margin: auto;
    padding: 5px;
    background-color: yellow;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    margin-left: 1500px;
    margin-top: auto;
}